.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .link{
      background-color: wheat;
      text-align: center;
      color: black;
      border-radius: 15px 50px;
      width: 50%;
      align-self: center;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .title{
    background-color: wheat;
    text-align: center;
    color: black;
    border-radius: 15px 50px;
    width: 100%;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.infoContainer img{
  margin: 15px;
}

.description{
    white-space: pre-line;
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 900px) {
    .infoContainer { flex-direction: column; }
}
