.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: var(--ifm-background-color);
    color: var(--ifm-font-color-base);
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .link{
	background-color: #333;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	padding: 10px 40px;
	align-self: center;
	margin-top: 10px;
	margin-bottom: 10px;
  }
  
  .modal-main button {
    padding: 20px 30px;
	}
	
	.modal-main button:hover, .link:hover{
		cursor:pointer;
	}

  .title{
    text-align: center;
    width: 100%;
}

.title.low, .link.low{
    background-color: var(--upgrade-low); 
    color: var(--upgrade-textcolor-low);
    border-bottom: 10px solid var(--upgrade-low);
	height: 100%;
}
.title.medium{
    background-color: var(--upgrade-medium);    
    color: var(--upgrade-textcolor-medium);
    border-bottom: 10px solid var(--upgrade-medium);
	height: 100%;
}
.title.high{
    background-color: var(--upgrade-high); 
    color: var(--upgrade-textcolor-high);
    border-bottom: 10px solid var(--upgrade-high);
	height: 100%;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.infoContainer img{
  margin: 15px;
}

.description{
    white-space: pre-line;
    margin: 20px;
}

.descriptionContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

@media (max-width: 900px) {
    .infoContainer { flex-direction: column; align-items: center; }
    .descriptionContainer {
		flex-flow: column;
		align-items: center;
	}
}
