#facebookLink {
    display: flex;
    flex-direction: row;
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
}

#facebookLinkParagraph{
    width: 80%;
    text-align: center;
    line-height:1.6;
	font-size: 5vw;
}

#facebookLinkIcon{
    border-radius: 20px;
    margin: 1px;
    width: 20%;
    height: 100%;
}

@media (min-width: 768px) {
    #facebookLinkParagraph { 
		font-size: 3vw;
	}
}