#facebookBanner {
    display: flex;
    flex-direction: row;
    background-color: cornflowerblue;
    border-radius: 20px;
}

#facebookBannerParagraph{
    width: 80%;
    text-align: center;
    line-height:1.6;
	font-size: 5vw;
    margin: auto;
}

#facebookBannerIcon{
    margin: auto;
    border-radius: 20px 0px 0px 20px;
    width: 20%;
}

@media (min-width: 768px) {
    #facebookBannerParagraph { 
		font-size: 3vw;
	}
}

#facebookLink {
    color: white !important;
}

html[data-theme="dark"] #facebookLink{
    color: orange !important;
}

